* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html,
body {
  height: 100%;
  background-color: #1e293b;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#header {
  width: 100%;
  height: 100px;
  background-color: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
  color: white;
  font-weight: 900;
}

#calc-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 416px;
  height: 816px;;
  background-color: #0f172a64;
  border: 8px solid rgba(255, 255, 255, 0.25);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  gap: 35px;
}

#screen {
  width: 100%;
  height: 200px;
  background-color: whitesmoke;
  border-radius: 12.5px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 56px;
}

#keypad {
  width: 110%;
  height: 100%;
  border-radius: 12.5px;
  display: flex;
  flex-wrap: wrap;
  padding: 12.5px;
  /* gap: 15px; */
  justify-content: space-around;
  margin-bottom: 20px;
}

.button {
  width: 73px;
  height: 73px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  margin: 15px 0px;
  border-radius: 12.5px;
}
#zero,
#equals {
  width: 160px;
}
