* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html,
body {
  height: 100%;
  background-color: #1e293b;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#calc-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 100vw;
  height: 100vh;
  max-width: 416px;
  max-height: 816px;;
  background-color: #0f172a64;
  border: 4px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.125);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  gap: 35px;
}

#screen {
  width: 100%;
  height: 200px;
  min-height: 125px;
  background-color: whitesmoke;
  border-radius: 12.5px;
  padding: 20px;
  font-size: 56px;

  /* Scrolling Logic */
  display: block;            /* Flex can prevent scrolling; Block is safer here */
  white-space: nowrap;       /* Keeps all numbers on a single line */
  overflow-x: auto;          /* Enables horizontal scrolling */
  overflow-y: hidden;        /* Prevents vertical movement */
  text-align: right;         /* Keeps text aligned to the right */
  line-height: 160px;
  scrollbar-width: none;
}

#keypad {
  width: 110%;
  height: 100%;
  border-radius: 12.5px;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.button {
  width: 20.768%;
  height: 14.336%;
  /* aspect-ratio: 1/1; */
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  margin: 15px 0px;
  border-radius: 12.5px;
  background-color: #0f172a64;
  transition: all;
  transition-duration: 125ms;
}
#zero,
#equals {
  width: 46%;
  aspect-ratio: 2/1;
}

.button:hover {
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.375);
}

.button:active {
  background-color: rgba(255, 255, 255, 0.375);
}
